.table-one {
    line-height: 30px;

    &__first {
        vertical-align: top;
        padding: 0 25px 0 0;
        width: 180px;
    }
    &__second {
        font-weight: bold;
        vertical-align: top;
    }
}

.btn-first {
    border: 1px solid #c19771;
    height: 30px;
    color: #c19771;
    display: inline-block;
    line-height: 28px;
    padding: 0 30px;
    border-radius: 5px;

    &:hover {
        color: var(--text);
        border-color: var(--text);
    }
}

.btn-second {
    border: 1px solid #A7B8D3;
    height: 30px;
    color: #A7B8D3;
    display: inline-block;
    line-height: 28px;
    padding: 0 15px;
    border-radius: 5px;

    &:hover {
        color: var(--text);
        border-color: var(--text);
    }
}

.out-main-block {
    margin: 30px 0;
    text-align: right;
}

.client-header {

    &__first {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 25px;
    }
    &__fio {
        font-weight: bold;
        font-size: 34px;
        line-height: 40px;
    }
    &__fou {
        color: #9AACB9;
    }
    &__second {
        display: flex;
        align-items: center;
        margin: 0 0 20px;
    }
    &__status {
        background-color: #c19771;
        border-radius: 3px;
        font-weight: 700;
        color: var(--white);
        line-height: 21px;
        height: 23px;
        padding: 0 8px;
        margin: 0 15px 0 0;
    }
    &__addr {
        color: #6b7a8c;
        text-decoration: underline;
    }
}

.client-contact {
    margin: 10px 0;

    &__first {
        margin: 0 0 20px;
        display: flex;
        align-items: center;
    }
    &__email,
    &__phone {
        font-weight: 700;
        font-size: 21px;
        line-height: 25px;
        background-position: left center;
        background-repeat: no-repeat;
        padding: 0 0 0 30px;

        &:hover {
            text-decoration: underline;
        }
    }
    &__phone {
        background-image: url(img/icon.phone.svg);
        margin: 0 75px 0 0;
    }
    &__email {
        background-image: url(img/icon.email.svg);
    }
    &__btn {
        margin: 0 0 0 auto;
    }
    &__add {
        background: url(img/icon.add.small.svg) no-repeat left center;
        font-size: 14px;
        line-height: 16px;
        color: #cdd7e3;
        padding: 0 0 0 30px;
        margin: 0 0 0 30px;

        &:hover {
            color: #cdd7e3;
            text-decoration: underline;
        }
    }
}

.client-history {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__left {
        width: 510px;
    }
    &__right {
        width: 265px;
    }
}

.client-line {
    border-left: 1px solid var(--brown);
    padding: 0 0 0 25px;
    margin: 0 0 25px 6px;

    &__point {
        margin: 0 0 20px;
        position: relative;

        &:before {
            content: "";
            height: 13px;
            width: 13px;
            position: absolute;
            background-color: var(--brown);
            border-radius: 50%;
            left: -32px;
            top: 3px;
        }
    }
    &__text {
        font-weight: bold;
    }
}

.comment-block {
    background-color: #F1F1F1;
    padding: 25px 35px 25px 25px;

    &__textarea {
        resize: none;
        width: 100%;
        height: 120px;
        border: 1px solid var(--white);
        padding: 5px 10px;
        transition: all .3s linear;

        &:hover,
        &:focus {
            border-color: var(--brown);
        }
    }
    &__btn {
        margin: 20px 0 0;
        text-align: right;
    }
}

.history-call {
    background-color: #F1F1F1;
    padding: 25px;

    &__items {
        margin: 0 0 35px;
    }
    &__text {
        font-weight: bold;
        margin: 0 0 20px;
    }
    &__btn {
        text-align: center;
    }
}