.client-header {

    &__first {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 25px;
    }
    &__fio {
        font-weight: bold;
        font-size: 34px;
        line-height: 40px;
    }
    &__fou {
        color: var(--text-light);
    }
    &__second {
        display: flex;
        align-items: center;
        margin: 0 0 20px;
    }
    &__status {
        background-color: var(--brown);
        border-radius: 3px;
        font-weight: 700;
        color: var(--white);
        line-height: 21px;
        height: 23px;
        padding: 0 8px;
        margin: 0 15px 0 0;
    }
    &__addr {
        color: #6b7a8c;
        text-decoration: underline;
    }
}

@media (max-width: 575px)
{
    .client-header {

        &__first {
            flex-wrap: wrap;
            margin: 0 0 20px;
        }
        &__fio {
            width: 100%;
        }
        &__second {
            flex-direction: column;
            align-items: self-start;
        }
        &__addr {
            max-width: 250px;
            margin: 5px 0 0;
        }
    }
}