:root {
    --black: #000;
    --white: #FFF;
    --brown: #C19771;
    --green: #95A484;
    --red: #B36F80;

    --bg: #F1F1F1;
    --text: #1B232A;
    --text-light: #9AACB9;
    --block-bg: #FCFAF8;
}