<!-- Комментарии -->
<div class="comment-block">
    <div class="h2">КОММЕНТАРИИ</div>
    <form>
        <textarea class="comment-block__textarea"></textarea>
        <div class="comment-block__btn">
            <div>

            <% if (link) { %>

                <a href="javascript:;" class="comment-block__link">История комментариев</a>

            <% } %>

            </div>
            <button type="submit" class="btn-first" href="javascript:;"><%=title%></button>
        </div>
    </form>
</div>

