.project-table {
    margin: 40px 0 20px 40px;

    &__table {
        width: 100%;
        line-height: 20px;
        font-size: 14px;
    }
    &__th {
        padding: 13px 7px;
        color: var(--text-light);
        text-transform: uppercase;
        font-weight: bold;
        line-height: 25px;

        &_black {
            color: var(--black);
        }
    }
    &__td {
        color: #243951;
        padding: 13px 7px;
        width: 12%;

        &_icon {
            font-weight: 700;
            text-transform: uppercase;
            background-repeat: no-repeat;
            background-position: left center;
            padding: 13px 7px 13px 25px;
            width: 28%;

            &1 {
                background-image: url(img/project.table1.svg);
            }
            &2 {
                background-image: url(img/project.table2.svg);
            }
            &3 {
                background-image: url(img/project.table3.svg);
            }
            &4 {
                background-image: url(img/project.table4.svg);
            }
            &5 {
                background-image: url(img/project.table5.svg);
            }
        }
        &_bold {
            font-weight: bold;
        }
        &_up,
        &_up-more,
        &_down,
        &_down-more {
            position: relative;
            font-weight: bold;

            &:before {
                width: 12px;
                position: absolute;
                content: '';
                left: -8px;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        &_up,
        &_up-more {
            color: var(--green);
        }
        &_down,
        &_down-more {
            color: var(--red);
        }
        &_up:before {
            background-image: url(img/project.up.svg);
            height: 6px;
        }
        &_up-more:before {
            background-image: url(img/project.up.more.svg);
            height: 12px;
        }
        &_down:before {
            background-image: url(img/project.down.svg);
            height: 7px;
        }
        &_down-more:before {
            background-image: url(img/project.down.more.svg);
            height: 12px;
        }
    }
    &__footer {
        font-size: 12px;
        line-height: 14px;
        color: var(--text-light);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 35px 0 0;
    }
}

@media (min-width: 930px) AND (max-width: 1100px)
{
    .project-table {
        margin: 15px 0;
    }
}
@media  (max-width: 929px)
{
    .project-table {
        margin: 0;

        &__block {
            overflow: auto;
        }
        &__th {
            padding: 13px 9px;
        }
        &__comment {
            display: none;
        }
        &__td {
            padding: 13px 9px;

            &_icon {
                padding: 13px 9px 13px 25px;
            }
            &_up,
            &_up-more,
            &_down,
            &_down-more {
                padding: 13px 9px 13px 25px;

                &:before {
                    left: 9px;
                }
            }
            &_bold {
                padding: 13px 9px 13px 25px;
            }
        }
    }
}