<% var data = {
    title: "Quartier - Project"
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<!-- Хлебные крошки -->
<div class="breadcrumb">
    <a href="javascript:;" class="breadcrumb__link">Все проекты</a>
    <a href="javascript:;" class="breadcrumb__link">Все клиенты</a>
    <span class="breadcrumb__current">Валентина Иванова</span>
</div>

<!-- Шапка клиента -->
<div class="client-header">
    <div class="client-header__first">
        <div class="client-header__fio">Валентина Иванова</div>
        <div class="client-header__fou">Физическое лицо</div>
    </div>
    <div class="client-header__second">
        <span class="client-header__status">Продано</span>
        <a href="javascript:;" class="client-header__addr">Жюль Верн - ул. Июльских дней, 1, кор.3 (1Б3, 3 этаж) №125</a>
    </div>
</div>

<!-- Учавстие в сделках -->
<div class="main-block main-block_no-head">
    <table class="table-one">
        <tr class="table-one__no-block">
            <td class="table-one__first">
                Учавствует в сделках
            </td>
            <td class="table-one__second">
                2
            </td>
        </tr>
        <tr>
            <td class="table-one__first">
                Квартиры
            </td>
            <td class="table-one__second">
                <p>Жюль Верн - ул. Июльских дней, 1, кор.2 (1Б2, 6 этаж) №364</p>
                <p>Жюль Верн - ул. Июльских дней, 1, кор.3 (1Б3, 3 этаж) №125</p>
            </td>
        </tr>
    </table>
</div>

<!-- Контактные данные -->
<div class="main-block">
    <a href="javascript:;" class="main-block__head main-block__head_open">
       КОНТАКТНЫЕ ДАННЫЕ
    </a>
    <div class="main-block__body main-block__body_open">

        <div class="client-contact">
            <div class="client-contact__phone">
                <a class="client-contact__phone-link" href="tel:+79166525656">8 (916) 652-56-56</a>
                <a class="client-contact__add" href="javascript:;">Добавить номер</a>
            </div>
            <div class="client-contact__email">
                <a class="client-contact__email-link" href="mailto:valyivan@gmail.com">valyivan@gmail.com</a>
            </div>
            <div class="client-contact__btn">
                <a class="btn-first" href="javascript:;">Изменить</a>
            </div>
        </div>

    </div>
</div>

<!-- Паспортные данные -->
<div class="main-block">
    <a href="javascript:;" class="main-block__head main-block__head_open">
       ПАСПОРТНЫЕ ДАННЫЕ
    </a>
    <div class="main-block__body main-block__body_open">
        <table class="table-one">
            <tr>
                <td class="table-one__first">
                    Серия
                </td>
                <td class="table-one__second">
                    9256
                </td>
            </tr>
            <tr>
                <td class="table-one__first">
                    Номер
                </td>
                <td class="table-one__second">
                    456123
                </td>
            </tr>
            <tr>
                <td class="table-one__first">
                    Кем выдан
                </td>
                <td class="table-one__second">
                    Территориальным УФМС гор. Набережные челны Тукаевского района Республики Татарстан
                </td>
            </tr>
            <tr>
                <td class="table-one__first">
                    Дата выдачи
                </td>
                <td class="table-one__second">
                    16.02.1990
                </td>
            </tr>
            <tr>
                <td class="table-one__first">
                    Код подразделения
                </td>
                <td class="table-one__second">
                    160-952
                </td>
            </tr>
            <tr>
                <td class="table-one__first">
                    Год рождения
                </td>
                <td class="table-one__second">
                    1976
                </td>
            </tr>
            <tr>
                <td class="table-one__first">
                    Адрес по прописек
                </td>
                <td class="table-one__second">
                    Москва, ул. Интернациональная, 6а, кв.56
                </td>
            </tr>
            <tr>
                <td class="table-one__first">
                    Почтовый индекс
                </td>
                <td class="table-one__second">
                    520236
                </td>
            </tr>
            <tr>
                <td class="table-one__first">
                    ИНН
                </td>
                <td class="table-one__second">
                    2563025698754
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- История клиента -->
<div class="main-block">
    <a href="javascript:;" class="main-block__head main-block__head_open">
       История клиента
    </a>
    <div class="main-block__body main-block__body_open">

        <div class="client-history">
            <div class="client-history__left">

                <!-- Линия действий -->
                <div class="client-line">
                    <div class="client-line__point">
                        <div class="client-line__name">12.09.2019</div>
                        <div class="client-line__text">Продажа</div>
                    </div>
                    <div class="client-line__point">
                        <div class="client-line__name">13.07.2019</div>
                        <div class="client-line__text">не совсем поняла как появляется история клиента,
                        оно получается автоматически или надо добавить комментарий?</div>
                    </div>
                    <div class="client-line__point">
                        <div class="client-line__name">23.04.2019</div>
                        <div class="client-line__text">если получается с помощью комментарий, то я добавляю
                        соответствующее поле внизу</div>
                    </div>
                </div>

                <% var data = {
                    title: "Отправить",
                    link: false
                }; %>

                <%= _.template(require('./../includes/comment.html'))(data)%>

            </div>
            <div class="client-history__right">

                <% var data = {
                    title: "ИСТОРИЯ ЗВОНКОВ"
                }; %>

                <%= _.template(require('./../includes/history.html'))(data)%>

            </div>
        </div>

    </div>
</div>

<div class="out-main-block">
    <a class="btn-second" href="javascript:;">Удалить клиента</a>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>