<% var data = {
    title: "Quartier - Project"
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<div class="project-head">
    <div class="project-head__main">
        <img class="project-head__logo" src="/local/img/logo.project.svg" alt="">
        <div class="project-head__name">Каннские львы</div>
    </div>
    <div class="project-head__info">
        <div class="project-head__info-line">
            <div class="project-head__info-label">Количество домов</div>
            <div class="project-head__info-count">9</div>
        </div>
        <div class="project-head__info-line">
            <div class="project-head__info-label">Объектов в продаже</div>
            <div class="project-head__info-count">286</div>
        </div>
        <div class="project-head__info-line">
            <div class="project-head__info-label">Объектов продано </div>
            <div class="project-head__info-count">345</div>
        </div>
    </div>
    <div class="project-head__addr">
        г. Махачкала, ул. Лаптиева, 37<br>
        т.: <a class="project-head__addr-link" href="tel:+78005551406">8 800 555-14-06</a><br>
        <a class="project-head__addr-link" href="//каннские-львы.рф" target="_blank">каннские-львы.рф</a>
    </div>
</div>

<div class="main-block">
    <a href="javascript:;" class="main-block__head main-block__head_open">
        ВСЕГО ОБЪЕКТОВ
        <span class="main-block__head-count">2 458</span>
    </a>
    <div class="main-block__body main-block__body_open">

        <div class="project-info">
            <div class="project-info__item">
                <img class="project-info__icon" src="/local/img/icon.project1.svg" alt="">
                <div class="project-info__name">
                    2 256 квартир
                </div>
                <div class="project-info__tetx">
                    Общей стоимостью<br>
                    1 211 203 980 ₽
                </div>
            </div>
            <div class="project-info__item">
                <img class="project-info__icon" src="/local/img/icon.project2.svg" alt="">
                <div class="project-info__name">
                    122 парковочных<br>
                    места
                </div>
                <div class="project-info__tetx">
                    Общей стоимостью<br>
                    343 203 980 ₽
                </div>
            </div>
            <div class="project-info__item">
                <img class="project-info__icon" src="/local/img/icon.project3.svg" alt="">
                <div class="project-info__name">
                    3 коммерческой<br>
                    недвижимости
                </div>
                <div class="project-info__tetx">
                    Общей стоимостью<br>
                    2 334 203 980 ₽
                </div>
            </div>
        </div>

    </div>
</div>

<div class="main-block">
    <a href="javascript:;" class="main-block__head">
        КВАРТИР В ПРОДАЖЕ
        <span class="main-block__head-count">286</span>
    </a>
    <div class="main-block__body">
        <br><br><br><br><br><br><br>
    </div>
</div>

<div class="main-block">
    <a href="javascript:;" class="main-block__head main-block__head_open">
        ПОКАЗАТЕЛИ
    </a>
    <div class="main-block__body main-block__body_open">

        <div class="project-graph">

            <div class="date-time-line">
                <div>

                    <div class="select-date">
                        <a href="javascript:;" class="select-date__link select-date__link_active">Сегодня</a>
                        <a href="javascript:;" class="select-date__link">Вчера</a>
                        <a href="javascript:;" class="select-date__link">Неделя</a>
                        <a href="javascript:;" class="select-date__link">Месяц</a>
                        <a href="javascript:;" class="select-date__link">Квартал</a>
                        <a href="javascript:;" class="select-date__link">Год</a>
                    </div>

                </div>
                <div>

                    <div class="select-time">
                        <div class="select-time__name">Период:</div>
                        <input class="select-time__input" type="text" value="22.12.19">
                        <div class="select-time__sep">-</div>
                        <input class="select-time__input" type="text" value="23.12.19">
                    </div>

                </div>
            </div>

            <div class="project-graph-legend">
                <div class="project-graph-legend__item">
                    Звонки
                    <span class="project-graph-legend__count project-graph-legend__color1">856</span>
                </div>
                <div class="project-graph-legend__item">
                    Посещения
                    <span class="project-graph-legend__count project-graph-legend__color2">100</span>
                </div>
                <div class="project-graph-legend__item">
                    Брони
                    <span class="project-graph-legend__count project-graph-legend__color3">35</span>
                </div>
                <div class="project-graph-legend__item">
                    Платные брони
                    <span class="project-graph-legend__count project-graph-legend__color4">15</span>
                </div>
                <div class="project-graph-legend__item">
                    Продано
                    <span class="project-graph-legend__count project-graph-legend__color5">5</span>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="main-block">
    <a href="javascript:;" class="main-block__head main-block__head_open">
        СВОДНАЯ ТАБЛИЦА
    </a>
    <div class="main-block__body main-block__body_open">

        <div class="project-table">
            <table class="project-table__table">
                <tr>
                    <th class="project-table__th"></th>
                    <th class="project-table__th project-table__th_black">Сегодня</th>
                    <th class="project-table__th">Вчера</th>
                    <th class="project-table__th">Неделя</th>
                    <th class="project-table__th">Месяц</th>
                    <th class="project-table__th">Квартал</th>
                    <th class="project-table__th">Год</th>
                </tr>
                <tr>
                    <td class="project-table__td project-table__td_icon project-table__td_icon1">Звонки</td>
                    <td class="project-table__td project-table__td_down-more">100</td>
                    <td class="project-table__td">120</td>
                    <td class="project-table__td">520</td>
                    <td class="project-table__td">1500</td>
                    <td class="project-table__td">3200</td>
                    <td class="project-table__td">6228</td>
                </tr>
                <tr>
                    <td class="project-table__td project-table__td_icon project-table__td_icon2">Посещения</td>
                    <td class="project-table__td project-table__td_down">45</td>
                    <td class="project-table__td">50</td>
                    <td class="project-table__td">100</td>
                    <td class="project-table__td">200</td>
                    <td class="project-table__td">500</td>
                    <td class="project-table__td">2400</td>
                </tr>
                <tr>
                    <td class="project-table__td project-table__td_icon project-table__td_icon3">Брони</td>
                    <td class="project-table__td project-table__td_up-more">34</td>
                    <td class="project-table__td">20</td>
                    <td class="project-table__td">50</td>
                    <td class="project-table__td">100</td>
                    <td class="project-table__td">250</td>
                    <td class="project-table__td">500</td>
                </tr>
                <tr>
                    <td class="project-table__td project-table__td_icon project-table__td_icon4">Платные брони</td>
                    <td class="project-table__td project-table__td_up">0</td>
                    <td class="project-table__td">10</td>
                    <td class="project-table__td">20</td>
                    <td class="project-table__td">50</td>
                    <td class="project-table__td">100</td>
                    <td class="project-table__td">300</td>
                </tr>
                <tr>
                    <td class="project-table__td project-table__td_icon project-table__td_icon5">Продано</td>
                    <td class="project-table__td project-table__td_bold">5</td>
                    <td class="project-table__td">2</td>
                    <td class="project-table__td">8</td>
                    <td class="project-table__td">20</td>
                    <td class="project-table__td">60</td>
                    <td class="project-table__td">2100</td>
                </tr>
            </table>
            <div class="project-table__footer">
                <div>Здесь предлагаю более гибкие настройки, но я их не придумал</div>
                <div>

                    <div class="select-time">
                        <div class="select-time__name">Период:</div>
                        <input class="select-time__input" type="text" value="22.12.19">
                        <div class="select-time__sep">-</div>
                        <input class="select-time__input" type="text" value="23.12.19">
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="main-block main-block_no-head">
    <br><br><br><br><br><br><br>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>