<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic" rel="stylesheet">

    <title>Quartier - Index</title>
</head>
<body>
    <div class="container">
        <div class="index-form">
            <div class="index-form__block">
                <img class="index-form__logo" src="/local/img/logo.svg" alt="">
                <form>
                    <div class="main-form">
                        <div class="main-form__line main-form__valid">
                            <input class="main-form__input" type="text" value="user@site.com" placeholder="Логин">
                            <span class="main-form__valid-icon"></span>
                        </div>
                        <div class="main-form__line main-form__invalid">
                            <input class="main-form__input" type="password" value="" placeholder="Пароль">
                        </div>
                        <div class="main-form__foot">
                            <div class="text-light">Не совпадает логин и пароль, введите снова.</div>
                            <a href="javascript:;">Восстановить пароль</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="index-info">
            <div class="index-info__block">
                <div class="index-info__pict">
                    <img src="/local/img/icon1.svg" alt="">
                </div>
                <div class="index-info__name">
                    Интеллектуальный<br>
                    помощник<br>
                    в маркетинге
                </div>
                <div class="index-info__text">
                    Система сама предоставит вам отчет по текущему состоянию маркетинга в вашей компании и предложит варианты повышения его эффективности
                </div>
            </div>
            <div class="index-info__block">
                <div class="index-info__pict">
                    <img src="/local/img/icon2.svg" alt="">
                </div>
                <div class="index-info__name">
                    Многолетний<br>
                    опыт продажи<br>
                    недвижимости
                </div>
                <div class="index-info__text">
                    Все решения и инструменты в системе были разработаны на основе десятилей по продаже различных видов недвижимости
                </div>
            </div>
            <div class="index-info__block">
                <div class="index-info__pict">
                    <img src="/local/img/icon3.svg" alt="">
                </div>
                <div class="index-info__name">
                    Работа<br>
                    в одном окне
                </div>
                <div class="index-info__text">
                    Ваш сотрудник колл-центра, бухгалтер, менеджери руководитель продаж теперь смогут комфортно работать в одной программе без подключения дополнительных инструментов
                </div>
            </div>
        </div>
    </div>
</body>
</html>